aside {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 19rem;
  background: #303956;
  padding: 3rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.reset-button {
  background: none;
  border-bottom: 1px solid;
}

.reset-button:hover {
  color: #69b3a2;
  background: none;
}
